/* font */
@font-face {
	font-family: 'UnifrakturCook';
	font-style: normal;
	font-weight: 500;
	src: local('UnifrakturCook'), local('UnifrakturCook-Bold'), url(https://fonts.gstatic.com/s/unifrakturcook/v9/IurA6Yli8YOdcoky-0PTTdkm56n05Xwy1oM.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Beth Ellen';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Beth Ellen Regular'), local('BethEllen-Regular'), url(https://fonts.gstatic.com/s/bethellen/v1/WwkbxPW2BE-3rb_JNT-qIIcoVfg61Nc.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: nixie2;
	src: url('https://akira.eu.org/assets/AkiNixieNumber-Regular.woff2') format('woff2'),
	url('https://akira.eu.org/assets/AkiNixieNumber-Regular.woff') format('woff');
}

/* global */
* {
	cursor: url('https://cursors3.totallyfreecursors.com/thumbnails/compass.gif'), auto !important;
}
/*https://cursors3.totallyfreecursors.com/thumbnails/musicstand.gif*/

body {
	color: black;
	font-family: Georgia, sans-serif;
	letter-spacing: 1px;
	line-height: 1.6;
	background: black url('https://live.staticflickr.com/65535/50265295758_5f2301f68a_k_d.jpg') center repeat;
	cursor: url('https://cursors3.totallyfreecursors.com/thumbnails/compass.gif'), auto !important;
}
/*
	background: black url(https://stacks.stanford.edu/image/iiif/xp468cg7846%2Fxp468cg7846_00_0001/full/1672,/0/default.jpg) center repeat;
	background: black url(https://lh3.googleusercontent.com/-fB3s7HDSjN7tUZ7UUw1mXQJennIq-Skr5PlJAI_ppO0Ollzsf3e-rtz763PSrJvz572qN-bsNGDUiquK_oI7iW_W5xPNTP5DHi1SgdsBxBiMG_TnGDor9VzRxUr-ZenZhmZjyFJ2A=w1080) top repeat;
*/

/* link */
a, a:hover, a:link, a:visited, a:active {
	cursor: url('https://cursors3.totallyfreecursors.com/thumbnails/compass.gif'), auto;
	color: navy;
	background: none;
}

/* textarea */
.textarea_holder textarea {
	padding: 4px !important;
	min-height: 120px;
	color: antiquewhite !important;
	background: none !important;
	border: 4px double black;
	opacity: 0.7;
}
.textarea_holder textarea:hover { background: black !important; }
.textarea_holder textarea:focus {
	background: black !important;
	opacity: 0.8;
}

/* scrollbar */
::-webkit-scrollbar { background-color: darkgrey !important; }
::-webkit-scrollbar-thumb { background-color: black !important;}
::-webkit-scrollbar-thumb:hover { background-color: darkred !important; }
::-webkit-scrollbar-thumb:active { background-color: darkred !important; }

/* selection */
::selection {
	color: antiquewhite;
	background-color: navy;
}
::-moz-selection {
	color: antiquewhite;
	background-color: navy;
}

/* --- river --- */
#timeline_holder {
	height: 440px !important;
}

/* empty message */
.timeline-message {
	top: 60%;
	font: 2vw 'Beth Ellen';
	color: black;
}
/* plurk creature */
#dynamic_logo img {
	filter: alpha(opacity=0);
	opacity: 0;
}
#dynamic_logo {
	height: 240px;
	width: 185px;
	margin-top: 30px;
	margin-right: 30px;
	border-radius: 50%;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
	background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Antonio_Salieri_painted_by_Joseph_Willibrord_M%C3%A4hler.jpg/185px-Antonio_Salieri_painted_by_Joseph_Willibrord_M%C3%A4hler.jpg') no-repeat;
}

/* plurks in the river */
/* whole plurk container */
/* .timeline-cnt .plurk_box { } */
.timeline-cnt .plurk {
	min-width: 320px;
	opacity: 0.8;
	transition: opacity .3s ease-in-out;
}
#timeline_holder .plurk .text_holder { min-height: 36px; }
.p_img { margin: 4px 4px 0 0;}
.p_img img {
	border-radius: 5px 0;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}
/* a.name { color: navy !important; } */
.response_count {
	margin-left: 2px;
	font: 14px 'UnifrakturCook';
	color: black;
	border: none;
	border-radius: 4px 0;
	background: none;
}
.new .response_count {
	color: antiquewhite;
	background-color: darkred;
}
.timeline-cnt .display {	/* hovered, expanded */
	min-width: 450px;
	opacity: 1;
}
.muted { opacity: 0.3 !important; }
.manager a:hover {
	color: antiquewhite !important;
	background: darkred !important;
}

/* plurk text container */
#timeline_holder .plurk_cnt {
	min-height: 50px;
	color: black;
	font-size: 14px;
	background-color: antiquewhite;
	border: 1px solid black;
	border-radius: 10px 0;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
	opacity: 0.9;
	transition: opacity .3s ease-in-out;
}
#timeline_holder .plurk_cnt:hover { opacity: 1; }
/* #timeline_holder .plurk_cnt .link_extend { } */
a.hashtag { color: darkred !important; }
a.hashtag:hover {
	background-color: darkred !important;
	color: antiquewhite !important;
}

/* plurk response box */
#form_holder { background: none; }
.response_box {
	min-height: 240px;
	font-size: 14px;
	background-color: antiquewhite;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5), inset 0 -2px 4px rgba(0, 0, 0, 0.5);
}
/* .response_info { } */
.response-status {
	margin: 0;
	padding: 0;
}

/* response list */
.list {
	padding: 0;
	border-bottom: none;
}
.list .empty {
	margin-top: 10px;
	height: 100px;
	background: url(https://i.pinimg.com/originals/a8/ec/44/a8ec44919fe28e45ff79b6641893455f.png) no-repeat 50%;
	background-size: 100px;
	text-indent: -9999px;
}
.list .plurk  {
	margin: 0;
	padding: 6px 9px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.list .plurk_cnt {
	min-height: 60px;
	background: none;
}
.list .plurk_cnt .td_qual {
	position: absolute;
	width: auto;
	overflow: visible;
}
.list .plurk_cnt .text_holder {
	margin-top: 1.2em;
	padding: 0.5em;
	width: auto !important;
}
/* .list .highlight_owner {} */
.list .highlight_owner .plurk_cnt {
	border-left: 8px double darkred;
}
.list .highlight_owner a.name {
	color: navy !important;
	text-decoration: none;
}

.response-manager .mention,
.response-manager .option {
	color: navy;
}
.response-manager .mention:hover,
.response-manager .option:hover {
	color: antiquewhite;
	background: darkred;
	border-radius: 3px;
}


/* poster holder */
.poster_holder {
	opacity: 0.9;
	transition: opacity .3s
	ease-in-out;
}
.poster_holder:hover { opacity: 1; }
.plurk_box .mini_form {
	background-color: antiquewhite;
	border: 1px solid black;
	border-radius: 10px 0;
}
.mini_form .textarea_holder textarea {
	min-height: 60px;
	font-size: 14px;
	border: 3px double black;
}
.char_updater { display: none }

/* response manager */
.response-manager {
	background: none;
	border: none;
	border-left: 3px double black;
}
.response-status .response-count,
.timeago {
	color: dimgrey;
}
.response-status:hover .response-only-owner {
	color: navy;
	background: none;
}
.response-only-owner:hover {
	text-decoration: underline;
}
.load-holder .button {
	color: black;
	background: none;
	border: 1px solid black;
}
.load-holder .button:hover {
	color: darkred;
	border: 1px solid darkred;
}

/* control buttons */
.timeline_control { 
	margin-left: 10%;
	margin-top: -25px;
}

#timeline_control_holder a {
	font-family: 'UnifrakturCook';
	border-radius: 10px 0;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

/* river filter switch */
#filter_tab a {
	text-decoration: none;
	color: antiquewhite;
	background-color: black;
	transition: .3s ease-in-out;
}
#filter_tab a:hover {
	background-color: darkred;
}
/* #filter_tab a.filter_selected { } */
/* #filter_tab a.off_tab { } */

/* all/unread switch */
#updater .item a {
	padding: 0 12px;
	color: antiquewhite;
	background-color: black;
	transition: .3s ease-in-out;
	border-radius: 10px 0;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
	text-decoration: none;
	opacity: 0.8;
}
#updater .item a:hover {
	background-color: darkred;
	opacity: 1;
}
.unread #alert_beacon, .unread_generic {
	font-family: 'UnifrakturCook';
	color: antiquewhite;
	background-color: darkred;
	border-radius: 5px 0;
}

/* timeline */
#bottom_line {
	top: 0px;
	background-color: black;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
}
.cmp_arrow_right,
.cmp_arrow_left,
.cmp_back_to_today {
	display: none;
}
.bottom_start,
.bottom_end {
	top: 0px !important;
	height: 20px;
	font-family: 'Beth Ellen';
	color: black;
	background: none;
	border-radius: 0;
	border-left: 4px double black;
}
#time_show {
	top: 12px;
	height: 16px;
	background-color: black;
	border-radius: 6px 0;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}
#time_show span { color: antiquewhite; }

/* dashboard */
#dashboard_holder {
	height: 100vh;
	width: 80%;
	max-width: 80%;
	min-width: 80%;
	margin: 0 auto;
	padding: 20px 0;
}
#plurk-dashboard a { color: navy; }
#plurk-dashboard .dash-segment .segment-content {
	margin-top: 0;
	padding: 8px 16px;
	background: none;
	border: 2px solid rgba(0,0,0,0);
	border-radius: 20px 0;
	transition: .3s ease-in-out;
}

/* left */
#plurk-dashboard .dash-group-left {
width: 32%;
color: black;
padding-right: 0;
}
#plurk-dashboard .dash-segment-profile {
	border-radius: 20px 0;
	background-color: rgba(0,0,0,0.2);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}
#plurk-dashboard .dash-group-form .segment-content:hover,
#plurk-dashboard .dash-segment-friends .segment-content:hover,
#plurk-dashboard .dash-segment-fans .segment-content:hover,
#plurk-dashboard .dash-segment-award .segment-content:hover {
	background: none;
	border: 2px solid rgba(0,0,0,0);
	box-shadow: none;
}
#plurk-dashboard img { box-shadow: 2px 2px 4px rgba(0,0,0,0.6); }
#plurk-dashboard .dash-segment-profile #dash-profile #full_name { margin-left: 100px; }
.display_name { font-size: 18px; font-weight: bold; }
.nick_name { font: 14px 'Beth Ellen'; }
.profile-info { position: absolute; right: 0; bottom: 0; }
/* .profile-info span { } */
#dash-additional-info { font-size: 14px; }
#plurk-dashboard .dash-segment-profile #dash-additional-info #about_me { padding: 0;}
#plurk-dashboard .dash-segment-profile #dash-additional-info #location_container,
#plurk-dashboard .dash-segment-profile #dash-additional-info #relationship_container {
	margin: 0;
	font: 14px 'Beth Ellen';
	display: flex;
	justify-content: flex-end;
}
.friend_man {
	padding: 4px 12px;
	font: 13px 'UnifrakturCook' !important;
	color: antiquewhite !important;
	background-color: black;
	border-radius: 10px 0;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
	transition: .3s ease-in-out;
}
.friend_man:hover { background-color: darkred; }

/* right */
#plurk-dashboard .dash-group-form,
#plurk-dashboard .dash-group-right { width: 64%; }

/* textarea */
#plurk-dashboard .dash-segment-post .segment-content {
	margin: 0;
	padding: 0;
}
.input_holder { background: none; border: none; }
.submit_img {
	padding: 4px 12px;
	width: auto !important;
	height: auto !important;
	background-color: black !important;
	border-radius: 10px 0;
	color: antiquewhite;
	font: 24px 'UnifrakturCook';
	box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
	transition: .3s ease-in-out;
}
.submit_img:hover {
	background-color: darkred !important;
}
.dd_img { box-shadow: 2px 2px 4px rgba(0,0,0,0.6); }
.q_freestyle { background-color: black; transition: .3s ease-in-out }
.q_freestyle:hover { background-color: darkred; }

/* karma, stats */
#plurk-dashboard .dash-segment-stats { width: 60%; }
#plurk-dashboard .dash-segment-stats .segment-content {
	margin: 8px 16px;
	display: flex;
	justify-content: center;
	background-color: rgba(0,0,0,0.7);
	border-radius: 20px 0;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}
#plurk-dashboard #dash-stats .dash-stats-karma { margin: 0 0 0 -1.2vw; width: auto; }
.karma_hover {
	margin: 0;
	color: #fd9d0b;
	font: 2vw 'Beth Ellen';
	pointer-events:none;
        text-shadow: #ffde00 0px 0px 8px;
}
#karma {
	position: relative;
	display: inline-block;
	text-align: right;
	font-family: 'nixie2';
	font-size: 1.2em;
	width: 3.5em;
	padding: 0.2em;
	padding-bottom: 0.1em;
}
#karma::before {
	position: absolute;
	top: 0.2em;
	left: 0.2em;
	opacity: 0.5;
	content: '$$$$$$';
}
#karma_arrow { color: darkred; }
#dash-stats table { display: none; }

/* friends, fans */
#plurk-dashboard .dash-segment-friends { width: 36%; margin: 0; }
#plurk-dashboard .dash-segment-fans { width: 0; }
#plurk-dashboard .dash-segment-friends .segment-content { margin-top: 6px; padding: 0; }
#plurk-dashboard .dash-segment-friends #dash-friends #friend_managment { margin-top: 0; }
#plurk-dashboard .dash-segment-fans .segment-content { padding: 0; }
#plurk-dashboard #dash-friends-pics {
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.show_all_friends, .show_mutual_friends { margin-right: 0; }
/* #dash-fans {} */
/* #dash-fans::before {} */
#dash-friends h2,
#dash-fans h2,
.friend_holder { display: none; }
.show_all_friends,
.show_mutual_friends { font-size: 14px; }
#plurk-dashboard #dash-friends-pics { padding: 4px 8px; }

/* award */
#plurk-dashboard .dash-segment-award {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
#plurk-dashboard .dash-segment-award .segment-content { margin: 0; }

/* --- footer --- */
#footer,
#resp_banner_ads,
.cbox_ads { display: none; }

/* hyde */
#top_bar .item img,
span#plurk_tab,
span#search_tab,
.dots .inner,
#replurkers_holder,
.plurk_box .caption,
#plurks_count a,
.advert a,
#empty_timeline_bg,
.block_bg .div_one_line,
.small_timeline .block_bg .div_one_line,
#top_login a#sign_up,
#getting_started,
div .adsense,
#dash-stats h2,
#dash-friends h2,
#dash-fans h2,
#dash-friends form,
#dash-friends p,
div#fan_holder span,
.link_arrow,
.cmp_points-arrow,
div #tw_help,
div a#dashboard-invite,
div #sharePlurk,
#block_user,
.dash-icon {
	display : none;
	height: 0 !important;
	width: 0 !important;
	overflow: hidden;
	position: fixed;
	top: -9000px;
	filter:alpha(opacity=0) !important; opacity:0 !important; zoom:1;
}
